table {
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 100%;
}

table thead th {
  /* display: flex; */
  align-items: center;
  cursor: pointer;
  border: 1px solid #ddd;
  text-align: left;
  padding: 10px;
}

table thead th:hover + .more-vert {
  display: block;
}

.more-vert {
  /* display: none; */
}

table th:hover {
  background-color: rgba(221, 221, 221, 0.6);
}

table td {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

table tbody tr:hover {
  background-color: rgba(221, 221, 221, 0.4);
}
